:root {
	--color-primary-a1: #81afb6;
	--color-primary-a2: #a3b133;
	--color-primary-a3: #b15d33;

	--color-secondary-a1: #6d6b6c;
	--color-secondary-a1-o9: rgba(109, 107, 108, 0.9);
	--color-secondary-a2: #070607;

	--color-tertiary-a1: #fffefe;

	--color-disabled: #808080;
	--color-error: #ff0303;

	--font-size-a1: 12px;
	--font-size-a2: 16px;
	--font-size-a3: 20px;
	--font-size-a4: 32px;
	--font-size-a5: 36px;
}
