.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex-grow: 1;
	overflow-x: hidden;

	@media (max-width: 1239.9px) {
		overflow: auto;
	}
}

.header {
	margin-bottom: 20px;
	padding: 8px;
	min-height: 30px;
	background-color: var(--color-primary-a2);
	font-size: var(--font-size-a3);
}
.navigation_list {
	list-style: none;
}

.navigation_item {
	color: var(--color-primary-a3);
	&:hover {
		color: var(--color-tertiary-a1);
	}
}

.active {
	color: var(--color-tertiary-a1);
	text-decoration: underline var(--color-tertiary-a1);
	&:hover {
		cursor: default;
	}
}
