.container {
	margin: 0 auto;
	padding: 32px;
	width: 1240px;
	min-height: 100dvh;
	color: var(--color-secondary-a2);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.title {
	text-align: center;
	font-size: var(--font-size-a5);
	font-weight: 700;
	letter-spacing: 0.5px;
}

.description {
	text-align: center;
	font-size: var(--font-size-a4);
	font-weight: 700;
	letter-spacing: 0.5px;
}

.link a {
	color: var(--color-error);
	&:hover {
		color: var(--color-primary-a3);
		text-decoration: underline var(--color-primary-a3);
	}
}
