@import url("https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary-a1: 129 175 182;
		--color-primary-a2: 163 177 51;
		--color-primary-a3: 177 93 51;

		--color-secondary-a1: 109 107 108;
		--color-secondary-a2: 7 6 7;

		--color-tertiary-a1: 255 254 254;

		--color-disabled: 128 128 128;
		--color-error: 255 3 3;
	}
}
