.container {
	max-width: 1280px;
	font-weight: 700;
	margin-bottom: 30px;
}

.table {
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 8px;
}

.btn_wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.btn {
	font-weight: 700;
	border-radius: 4px;
	transition: all ease-in-out 0.4;

	&:hover {
		cursor: pointer;
		background-color: var(--color-primary-a3);
	}
}

html:has(.modal) {
	overflow: hidden;
}

.modal {
	width: 540px;
}
