.form {
	padding: 32px;
	box-sizing: border-box;
	width: 555px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.item {
	min-height: 90px;
}
.item:has(textarea) {
	min-height: 120px;
}

.input,
.textarea,
.select,
.btn {
	min-height: 40px;
	font-size: var(--font-size-a2);
	border-radius: 4px;
}

.textarea {
	min-height: 60px;
}

.btn:hover:not(:disabled) {
	background-color: var(--color-primary-a3);
}
